{% extends 'base.html' %}

{% block title %}Add a Topic{% endblock %}

{% block customcss %}

{% endblock %}

{% block MainBody %}

 <div class="col-lg-8" style="left:15%" >
        <br>
           <!-- Title -->
           <h1 class="mt-4" >Create A new Topic Here</h1>
           <!-- Author -->


             <!-- Comments Form -->
           <div class="card my-4" style="top:10%">
             <div class="card-body">
               <form method="post">
                   {% csrf_token %}
                   <h3>Title</h3>
                   <div class="form-group">
                   <textarea class="form-control" rows="2" name="title"></textarea>
                  </div>

                   <h3>Content</h3>

                 <div class="form-group">
                   <textarea class="form-control" rows="8" name="content"></textarea>
                 </div>
                <button type="submit" class="btn btn-primary" >Submit</button>
               </form>
             </div>
           </div>

    <!-- /.container -->
{% endblock %}




