{% extends 'base.html' %}

{% block title %}Add a Topic{% endblock %}

{% block customcss %}

{% endblock %}

{% block MainBody %}

 <div class="col-lg-8" style="left:15%" >
        <br>

        <img src="https://8602000-public.sharepoint.com/SiteAssets/Pages/Topic/topic.png" >
  
             <!-- Comments Form -->
           <div class="card my-4" style="top:10%">
             <div class="card-body">
               <form method="post">
                   {% csrf_token %}
                   <h3>Title</h3>
                   <div class="form-group">
                   <textarea class="form-control" rows="2" name="title"></textarea>
                  </div>

                   <h3>Content</h3>

                 <div class="form-group">
                   <textarea class="form-control" rows="8" name="content"></textarea>
                 </div>
                   <button type="submit" class="btn btn-primary " >Submit</button>
                   <a  class="btn btn-primary" href="/ShutterWeb/forum" >Cancel</a>
               </form>
             </div>
           </div>
 </div>
    <!-- /.container -->
{% endblock %}




