{% extends 'base.html' %}

{% block title %}Forum{% endblock %}

{% block customcss %}

{% endblock %}

{% block MainBody %}
{% load static %}

<main role="main">

      <section class="jumbotron text-center text-white"
               style="background-image:url({% static 'images/background.jpeg' %});
               background-position: center;
               background-repeat: no-repeat;
               ">
        <div id="T1" class="container"  >
          <h1 class="jumbotron-heading">Album </h1>
          <p class="lead">Enjoy the world of color !</p>
          <p>
            <a href="{% url 'album_scenery_new' %}" class="btn btn-secondary">Scenery</a>
            <a href="{% url 'album_scenery_hot' %}" class="btn btn-secondary">People</a>
          </p>
        </div>
       </section>



      <div class="album text-muted">
        <div class="container">
          <div class="card" >
            <img class="card-img-top" alt="Card image cap"
                 src="../../../photo/{{ photo_id }}">
                 <!--src="{% static 'images/10.jpeg' %}">-->

              <div class="block">
                  <p class="card-text">Picture-1</p>
              </div>
          </div>
        </div>
      </div>

    </main>


{% endblock %}
