{% extends 'base.html' %}

{% block title %}Forum{% endblock %}

{% block customcss %}

{% endblock %}

{% block MainBody %}
{% load static %}

<main role="main">

  <section class="jumbotron text-center text-white"
           style="background-image:url({% static 'images/background.jpeg' %});
           background-position: center;
           background-repeat: no-repeat;
           ">
    <div id="T1" class="container"  >
      <h1 class="jumbotron-heading">Album </h1>
      <p class="lead">Enjoy the world of color !</p>
      <p>
        <a href="{% url 'album_scenery_new' %}" class="btn btn-primary">Scenery</a>
        <a href="{% url 'album_people_new' %}" class="btn btn-secondary">People</a>
      </p>
    </div>
  </section>

  <div class="album text-muted">
    <div class="container">
      <div class="row">
        <h1 class="col-lg-8">Newest</h1>
        <div class="col-sm-2 ">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort By
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'album_scenery_new' %}">Newest Photos</a>
              <a class="dropdown-item" href="{% url 'album_scenery_hot' %}">Hottest Photos</a>
            </div>
          </div>
        </div>
        <div class=" text-right">
            <button type="button" class="btn btn-secondary" data-toggle="modal"
                    onclick="window.location.href='{% url 'upload_photo' %}'">Upload a photo</button>
        </div>
      </div>

      <br>

      <div class="row" >
        <!-- 3 columns vertically-->
        <div class="column">
          <!-- column 1 starts -->
          <div class="card" style="width: 22rem; margin: 0.5rem">
            <!-- <a href="/ShutterWeb/album/photo/new"> -->
            <a href="{% url 'album_photo' %}">
              <img class="card-img-top" alt="Card image cap"
                   src="{% static 'images/1.jpeg' %}">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">Picture Title11111111111111111111111</h4>
              <p class="card-text">Some text from photographer11111111111111111111111</p>
              <a href="#" class="btn btn-primary" style="bottom-center">Thumb Up</a>
            </div>
          </div>

          <div class="card" style="width: 22rem; margin: 0.5rem">
            <a href="/ShutterWeb/album/photo">
              <img class="card-img-top" alt="Card image cap"
                   src="{% static 'images/2.jpeg' %}">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">Picture Title</h4>
              <p class="card-text">Some text from photographer</p>
              <a href="#" class="btn btn-primary">Thumb Up</a>
            </div>
          </div>

          <div class="card" style="width: 22rem; margin: 0.5rem">
            <a href="/ShutterWeb/album/photo">
              <img class="card-img-top" alt="Card image cap"
                   src="{% static 'images/3.jpeg' %}">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">Picture Title</h4>
              <p class="card-text">Some text from photographer</p>
              <a href="#" class="btn btn-primary" style="bottom-center">Thumb Up</a>
            </div>
          </div>
          <!-- column 1 ends -->
        </div>

        <div class="column">
          <!-- column 2 starts -->
          <div class="card" style="width: 22rem; margin: 0.5rem">
            <a href="/ShutterWeb/album/photo">
              <img class="card-img-top" alt="Card image cap"
                   src="{% static 'images/4.jpeg' %}">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">Picture Title</h4>
              <p class="card-text">Some text from photographer</p>
              <a href="#" class="btn btn-primary" style="bottom-center">Thumb Up</a>
            </div>
          </div>

          <div class="card" style="width: 22rem; margin: 0.5rem">
            <a href="/ShutterWeb/album/photo">
              <img class="card-img-top" alt="Card image cap"
                   src="{% static 'images/5.jpeg' %}">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">Picture Title</h4>
              <p class="card-text">Some text from photographer</p>
              <a href="#" class="btn btn-primary">Thumb Up</a>
            </div>
          </div>

          <div class="card" style="width: 22rem; margin: 0.5rem">
            <a href="/ShutterWeb/album/photo">
              <img class="card-img-top" alt="Card image cap"
                   src="{% static 'images/6.jpeg' %}">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">Picture Title</h4>
              <p class="card-text">Some text from photographer</p>
              <a href="#" class="btn btn-primary" style="bottom-center">Thumb Up</a>
            </div>
          </div>
          <!-- column 2 ends -->
        </div>

        <div class="column">
          <!-- column starts -->
          <div class="card" style="width: 22rem; margin: 0.5rem">
            <a href="/ShutterWeb/album/photo">
              <img class="card-img-top" alt="Card image cap"
                   src="{% static 'images/7.jpeg' %}">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">Picture Title</h4>
              <p class="card-text">Some text from photographer</p>
              <a href="#" class="btn btn-primary" style="bottom-center">Thumb Up</a>
            </div>
          </div>

          <div class="card" style="width: 22rem; margin: 0.5rem">
            <a href="/ShutterWeb/album/photo">
              <img class="card-img-top" alt="Card image cap"
                   src="{% static 'images/8.jpeg' %}">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">Picture Title</h4>
              <p class="card-text">Some text from photographer</p>
              <a href="#" class="btn btn-primary">Thumb Up</a>
            </div>
          </div>

          <div class="card" style="width: 22rem; margin: 0.5rem">
            <a href="/ShutterWeb/album/photo">
              <img class="card-img-top" alt="Card image cap"
                   src="{% static 'images/9.jpeg' %}">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">Picture Title</h4>
              <p class="card-text">Some text from photographer</p>
              <a href="#" class="btn btn-primary" style="bottom-center">Thumb Up</a>
            </div>
          </div>
          <!-- column ends -->
        </div>
        <!-- row ends -->
      </div>
    </div>
  </div>








    </main>


{% endblock %}
