{% extends 'base.html' %}

{% block title %}Forum - Hot Topic{% endblock %}

{% block MainBody %}
    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link " href="#">Overview </a>
                  <li class="nav-item">
              <a class="nav-link " href="/ShutterWeb/forum">Newest topic<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Hottest Topic</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ShutterWeb/add_topic">Add a topic</a>
            </li>
          </ul>
        </nav>
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
          <section class="row text-center placeholders">
              <div class="col-6 col-sm-3 placeholder">
                <img src="https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2017/05/17/13/thumbnail-food-insta.jpg"
                     height="500" width="1000" alt="Shutter">
              </div>
          </section>
            <h1>Hottest Topic</h1>
         <table class="table">
            <tbody>
            {% if latest_topic %}
                <thead>
             <tr>
                 <th>Topic Title</th>
                 <th>Public Time</th>
                 <th>Remarks</th>
                 <th>Views</th>
             </tr>
        </thead>
            {% for t in latest_topic %}
             <tr scope="row">
            <th>
                <li><a href="/ShutterWeb/topic/{{ t.id }}/">{{ t.title }}</a></li>
            </th>
                 <td>
                  {{ t.time }}
                 </td>
                 <td>
                     {{ t.remarks }}
                 </td>
                 <td>
                {{ t.views }}
                 </td>
            </tr>
        {% endfor %}
        {% else %}
             <p>No topic is available.</p>
            {% endif %}
            </tbody>
        </table>

            <div class="pagination" >
                <span class="step-links">
                    {% if latest_topic.has_previous %}
                        <a href="?page={{ latest_topic.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                     Page {{ latest_topic.number }} of {{ latest_topic.paginator.num_pages }}.
                    </span>

                    {% if latest_topic.has_next %}
            <a href="?page={{ latest_topic.next_page_number }}">next</a>
                {% endif %}
                </span>
                </div>

        </main>
        </nav>
      </div>
    </div>
{% endblock %}