{% extends 'base.html' %}

{% block title %}Forum{% endblock %}

{% block customcss %}

{% endblock %}

{% block MainBody %}

        <!-- Post Content Column -->
        <div class="container">
         <br>
          <!-- Title -->
          <h1 class="mt-lg-4">{{ topic.title }}</h1>
          <!-- Author -->
          <p class="text-right">
               Author:
            {{ topic.author }}
          </p>



          <!-- Date/Time -->
            <p class="text-right">Created on {{ topic.time}}</p>

          <hr>

          <!-- Preview Image -->
{#          <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">#}
{##}
{#          <hr>#}

          <!-- Post Content -->
          <blockquote class="blockquote">
            <div style="height: auto"> {{ topic.content }} </div>
             <div style="height: 200px" ></div>
          </blockquote>




          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form method="post">
                  {% csrf_token %}
                <div class="form-group">
                  <textarea class="form-control" rows="3" name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" >Submit</button>
              </form>
            </div>
          </div>

            {% for comment in TopicComments %}
              <div class="media mt-4">

                <img class="d-flex mr-3 rounded-circle " width="70" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="">
                <div class="media-body">
                  <h5 class="mt-0">Commenter: {{ comment.author }}</h5>
                 <div class="comment-field" style="padding-top: 10px;">
              {{ comment.content }}
               </div>
                    <p class="text-right"><small>{{ comment.time }}</small></p>
                </div>
                      <hr>

              </div>
            {% endfor %}


        </div>



      <!-- /.row -->
      </div>
    </div>
    <!-- /.container -->
{% endblock %}


